@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");

* {
  font-family: poppins;
  margin: 0;
}

button {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#container {
  position: absolute;
  max-height: 80vh;
  min-width: 500px;
  max-width: 600px;
  width: 50vw;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
}

#inputDiv {
  display: flex;
  justify-content: space-around;
}

#input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 75%;
}

.addButton {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #b488ff; /* Green background */
  color: white;
  border: 1px solid #b488ff; /* Green border */
  border-radius: 4px;
}

.addButton:hover {
  background-color: #843dff;
  border: 1px solid #843dff;
}

#buttonDiv {
  display: flex;
  justify-content: center;
  margin: 2.5vh;
}

.delete {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f83e3e;
  border: 1px solid #f83e3e;
  color: white;
}

.delete:hover {
  background-color: #fd1f1f;
  border: 1px solid #fd1f1f;
}

#taskList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskDiv {
  width: 80%;
  text-align: center;
  padding: 1rem;
  background-color: rgb(64, 64, 64);
  border-radius: 10px;
  margin-bottom: 2vh;
}

p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: text-decoration 0.5s ease-in;
}

p.selected {
  text-decoration: line-through;
}

.changeButtons {
  margin: auto;
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.change {
  font-size: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
}

.update {
  background-color: #447cff;
  color: white;
  border: 1px solid #447cff;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.update:hover {
  background-color: #1d60fe;
  border: 1px solid #1d60fe;
}

.completed {
  background-color: #36c1a4;
  color: white;
  border: 1px solid #36c1a4;

  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.completed:hover {
  background-color: #46ebc7;
  border: 1px solid #46ebc7;
}

@media (max-width: 550px) {
  #container {
    width: 80vw;
    min-width: 0;
  }
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #003c382f;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #00f2ff;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 160, 253);
}
